@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
	font-family: "Fredericka the Great", cursive;
	margin: 0;
}

.container {
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
}

textarea {
	height: 5rem;
	width: 80%;
	display: block;
	margin: 1rem auto;
	padding: 1rem;
}

#btn-translate {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
}
